*{
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sans', sans-serif;
}
/*Hero Banner start*/
.jumbotron-image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0px!important;
  min-height: 400px;
}
.jumbotron{
  background-color: #24ae5f!important;
}
.mymb4{
  color: #fff!important;
  padding-top: 80px!important;
}

.mybtn{
  background: #24ae5f!important;
  border-color: #24ae5f!important;
  cursor: pointer!important;
}

.mybtn:hover{
  background: #f0c419!important;
  border-color: #f0c419!important;
  color: #24ae5f!important;

}
.jmtexmar{
  margin-top: 50px;
  font-weight: 700;
  font-size: 50px!important;
}
.btnclr{
  color: #24ae5f!important;
  background-color: #fff!important;
  border-color: #24ae5f!important;
  font-size: 20px!important;
  font-family: 'Josefin Sans', sans-serif;
}
.btnclr:hover{
  background: #f0c419!important;
  border-color: #f0c419!important;
}
.btnclr:active{
  background: #f0c419!important;
  border-color: #f0c419!important;
}
/*Hero Banner end*/

.fitimage {
  background-position: left center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 300px!important;
  border-radius: 5px 50px 250px 5px;
  box-shadow: 0px 8px 0px 0px #22ad5f, 11px 16px 20px 0px #907508;
  margin-left: -15px;
}
.ctrclr{
  background-color: #f0c419;
  min-height: 308px;
  border-radius: 5px;
}
.fl{
  float: right;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.navbar {
  /* This section calls the slideInFromLeft animation we defined above */
  animation: 2s ease-out 0s 1 slideInFromLeft;
  background-image: url("https://i.imgur.com/2QM5Jj9.png")!important;
  background-color: #000!important;
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.jumbotron {
  /* This section calls the slideInFromLeft animation we defined above */
  animation: 2s ease-out 0s 1 slideInFromRight;

}
.fitimage {
  /* This section calls the slideInFromLeft animation we defined above */
  animation: 2s ease-out 0s 1 slideInFromRight;

}

.my__Section__Fill{
  background-color: #e5e5e5;
  margin-top: 20px;
}

.my__Section__Fill__T{
  background-color: #e5e5e5;
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.forslide {
  /* This section calls the slideInFromLeft animation we defined above */
  animation: 2s ease-out 0s 1 slideInFromBottom;

}

.clrsec{
  background-color: #27ae60;
  min-height: 200px;
}


.jumbotron-last-image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bgown{
  background-color: #f2f2f2;
}
.fas,.fab,.clrt{
  color: #27ae60;
}


.fas:hover,.fab:hover,.clrt:hover{
  color: #0d8841;
}
.cclr{
  padding: 5px;
  box-shadow: 0 0 20px #c1c1c1;
}

.btattr{
text-align: center;
font-size: 25px;
color: #c3c3c3!important;
cursor: pointer;
}

.btattr:hover{
color: #000!important;
}
.btattr:active{
color: #000!important;
}
.txclr{
  color: #434343!important;
}

.forslide{
  box-shadow: 0 0 12px #aeabab;
  padding: 10px;
  border-radius: 5px;
}

.img-fluid{
  border-radius: 5px;
  transition: transform 1s;
}
.img-fluid:hover{
  border-radius: 5px;
  transform: scale(0.95);
  cursor: pointer;
}
.mycntrlcss{
  margin: 20px;
}

.sngdtl{
  min-height: 300px
}

.myclrhe{
  color: #fff!important;
}
.myclrheh{
  font-size: 60px!important;
  color: #fff!important;
  font-weight: 900;
}

.marde{
  margin-top: -210px!important;
  max-height: 220px;
}
.mardee{
  min-height: 200px;
  max-width: 200px!important;
  border-radius: 200px;
  padding: 5px!important;
}
.fllf{
  float: right!important;
  margin-top: -135px;
}
.exbt{
  font-size: 60px;
}

.sgmarde{
  max-height: 160px;
  box-shadow: 0 0 14px #d6d5d5;

}
.sgmardee{
  min-height: 140px;
  max-width: 140px!important;
  border-radius: 200px;
  padding: 5px!important;
  transition: transform 1s;
}
.sgmardee:hover{
  transform: scale(0.95);
  transform: scale(0.90) rotate(45deg);
  cursor: pointer;
}

.sgfllf{
  float: right!important;
  margin-top: -90px;
}

.sgexbt{
  font-size: 30px;
}


.h4head{
  margin-top: -25px;
}
.mardee {
    -webkit-animation:spin 15s linear infinite;
    -moz-animation:spin 15s linear infinite;
    animation:spin 15s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }


.nav-link{
  color: #474747!important;
  font-size: 18px;
}
.activa{
  color: #22ad5f!important;
}
.forcss{
  border-radius: 50px 5px 5px 50px !important;
}
.forcssbtn{
  border-radius: 5px!important;
  padding: 8px 30px!important;
  background-color: #22ad5f!important;
  border-color: #22ad5f!important;
  color: #fff!important;
}

@media (max-width: 992px) {
  .marde{
    margin-top: -70px!important;
    max-height: 220px;
    box-shadow: 0 0 14px #cbcbcb;
  }
  .mardee{
    min-height: 150px;
    max-width: 150px!important;
    border-radius: 200px;
    padding: 5px!important;
  }
  .fllf{
    float: right!important;
    margin-top:-100px!important;
    margin-right: -150px;
    display: inline;
  }
  .exbt{
    font-size: 40px;
  }

}











/*for Currosel*/

@media (max-width: 768px) {
    .carousel-inner .carousel-item > div {
        display: none;
    }
    .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

/* display 3 */
@media (min-width: 768px) {

    .carousel-inner .carousel-item-right.active,
    .carousel-inner .carousel-item-next {
      transform: translateX(33.333%);
    }

    .carousel-inner .carousel-item-left.active,
    .carousel-inner .carousel-item-prev {
      transform: translateX(-33.333%);
    }
}

.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left{
  transform: translateX(0);
}

/*for Currosel*/

@media (max-width: 768px){
  .fitimage{
    border-radius: 2px!important;
  }
}

@media (max-width: 768px){
  .jumbotron-image{
    background-size: auto!important;
    background-image: url(https://i.imgur.com/ujsuv89.jpg)!important;
  }
  .jmtexmar{
    font-size: 25px!important;
  }
}
